<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notes list</title>
</head>
<body>
<p><a href="/note/edit">Create new</a></p>
<table border="1">
    <thead>
    <tr>
        <th><b>ID</b></th>
        <th><b>Title</b></th>
        <th><b>Content</b></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${notes}">
        <td><a th:href="@{'/note/edit?id=' + ${note.id}}" th:text="${note.id}"></a></td>
        <td th:text="${note.title}"></td>
        <td th:text="${note.content}"></td>
        <td>
            <form action="#" th:action="@{/note/delete}" th:object="${noteToDel}" method="POST">
                <input type="hidden" field="*{id}" name="id" th:value="${note.id}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <form th:if="${userLoggedIn} == 'yes'" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</p>
</body>
</html>